.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.edit-note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    min-height: 250px;
    min-width: 250px;
    background-color: rgb(255, 170, 51);
}

.edit-textarea{
    border: none;
	resize: none;
    outline: none;
    background-color: rgb(255, 170, 51);
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-edit {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.btn-edit:hover {
	background-color: #ededed;
	cursor: pointer;
}
